[submodule "bash_aliases"]
	path = bash_aliases
	url = git@github.com:ellisonleao/shellfun
[submodule "shellfun"]
	path = shellfun
	url = git@github.com:ellisonleao/shellfun
[submodule "fonts"]
	path = fonts
	url = git@github.com:powerline/fonts.git
