.DS_Store
.vim
.netrwhist
.uuid
terminal/.local/bin/black
terminal/.local/bin/black-primer
terminal/.local/bin/blackd
terminal/.local/bin/glow
terminal/.local/bin/http
terminal/.local/bin/https
terminal/.local/bin/ipython
terminal/.local/bin/ipython3
terminal/.local/bin/normalizer
terminal/.local/bin/pg_sample
terminal/.local/bin/pgcli
terminal/.local/bin/pygmentize
terminal/.local/bin/sqlformat
terminal/.local/bin/tabulate
terminal/.local/bin/tilt
