#!/bin/bash
# shellcheck disable=1094,2193
export EDITOR=nvim

# don't put duplicate lines in the history
export HISTCONTROL=ignoreboth:erasedups

# increase history size
export HISTSIZE=1000000
export HISTFILESIZE=1000000

# golang
export PATH=$PATH:/usr/local/go/bin

# local folder
export PATH=$PATH:$HOME/.local/bin

# Rust
export PATH="$HOME/.cargo/bin:$PATH"

# man pages
# export MANPAGER='nvim +Man!'
export MANPAGER='nvim --appimage-extract-and-run +Man!'
export MANWIDTH=999

# browser
export BROWSER=google-chrome-stable

# ssh-agent
export SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/ssh-agent.socket"

# bun
export BUN_INSTALL="$HOME/.bun"
export PATH="$BUN_INSTALL/bin:$PATH"
