#!/bin/bash

# don't put duplicate lines in the history
export HISTCONTROL=ignoreboth:erasedups

# increase history size
export HISTSIZE=1000000
export HISTFILESIZE=1000000

# dir colors
export CLICOLOR=1
export LSCOLORS=ExFxCxDxBxegedabagacad

# golang
export GOPATH=~/go
export PATH=$PATH:$GOPATH/bin

# rust
if [ -d "$HOME/.cargo/bin" ]; then
    export PATH=$PATH:"$HOME/.cargo/bin"
fi

# fuzzy finder
export FZF_DEFAULT_COMMAND='rg --files --no-ignore --hidden --follow --glob "!.git/*"'

# pyenv
export EDITOR=nvim
export WORKON_HOME=~/.virtualenvs
export PROJECT_HOME=~/code
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
export PYENV_VIRTUALENV_DISABLE_PROMPT=1

# nvm
export NVM_DIR="$HOME/.nvm"

# local folder
export PATH=$PATH:$HOME/.local/bin

# visual settings
#export GDK_SCALE=2
#export GDK_DPI_SCALE=0.3
#export QT_AUTO_SCREEN_SCALE_FACTOR=1
